<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.it">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IT"
        tools:targetApi="31">
        <activity
            android:name=".qa4.QA4_15"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_14"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_13"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_12"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_11"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_10"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_9"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_8"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_7"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_6"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_4"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_5"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_3"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_2"
            android:exported="false" />
        <activity
            android:name=".qa4.QA4_1"
            android:exported="false" />
        <activity
            android:name=".qa5.QA5_3"
            android:exported="false" />
        <activity
            android:name=".qa5.QA5_2"
            android:exported="false" />
        <activity
            android:name=".qa5.QA5_1"
            android:exported="false" />
        <activity
            android:name=".qa3.QA3_4"
            android:exported="false" />
        <activity
            android:name=".qa3.QA3_3"
            android:exported="false" />
        <activity
            android:name=".qa3.QA3_2"
            android:exported="false" />
        <activity
            android:name=".qa3.QA3_1"
            android:exported="false" />
        <activity
            android:name=".qa2.QA2_6"
            android:exported="false" />
        <activity
            android:name=".qa2.QA2_5"
            android:exported="false" />
        <activity
            android:name=".qa2.QA2_4"
            android:exported="false" />
        <activity
            android:name=".qa2.QA2_3"
            android:exported="false" />
        <activity
            android:name=".qa2.QA2_2"
            android:exported="false" />
        <activity
            android:name=".qa2.QA2_1"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_15"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_14"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_13"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_12"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_11"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_10"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_9"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_8"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_7"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_6"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_5"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_4"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_3"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_2"
            android:exported="false" />
        <activity
            android:name=".qa1.QA1_1"
            android:exported="false" />
        <activity
            android:name=".QA5"
            android:exported="false" />
        <activity
            android:name=".QA4"
            android:exported="false" />
        <activity
            android:name=".QA3"
            android:exported="false" />
        <activity
            android:name=".QA2"
            android:exported="false" />
        <activity
            android:name=".QA1"
            android:exported="false" />
        <activity
            android:name=".MainActivityJava"
            android:exported="false" />
        <activity
            android:name=".MainActivityQAInside"
            android:exported="false" />
        <activity
            android:name=".MainActivityThemes"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>